body {
    margin: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    background: #fff;
}

/* ----- Header ----- */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    padding: 10px 20px;
}

.logo {
    height: 40px;
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-box {
    width:100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 24px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.sell-btn {
    background: #fff;
    color: #000;
    padding: 7px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}


.item-container {
  display: flex;
  gap: 30px;
  padding: 30px 50px;
  border: 2px solid #99c2ff;
  margin: 30px;
}

.item-image-block {
  flex: 1;
}

.item-image {
  width: 100%;
  height: 400px;
  background: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.item-info-block {
  flex: 1.2;
}

.item-title {
  font-size: 45px;
  margin: 0;
}

.item-brand {
  margin: 5px 0 15px;
  font-size: 20px;
  color: #333;
}

.item-price {
  font-size: 30px;
  margin-bottom: 10px;
}

.likes {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 15px 0;
}

.like-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.buy-btn {
  background: #ff6f6f;
  border: none;
  padding: 12px 20px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 25px;
  text-decoration: none;
}

.description h2,
.detail-info h2,
.comments h2 {
  margin-top: 30px;
  font-size: 36px;
}

.tag {
  background: #e6e6e6;
  padding: 3px 8px;
  font-size: 24px;
  border-radius: 12px;
  margin-left: 5px;
}

.comment-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.comment-box .icon {
  width: 40px;
  height: 40px;
  background: lightgray;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-area {
  width: 100%;
  height: 120px;
  margin-bottom: 15px;
  padding: 8px;
}

.comment-submit {
  background: #ff6f6f;
  color: white;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  font-size: 25px;
  border-radius: 4px;
}
