body {
    margin: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    background: #fff;
}

/* ----- Header ----- */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    padding: 10px 20px;
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-box {
    width:100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 24px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.sell-btn {
    background: #fff;
    color: #000;
    padding: 7px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

main {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    font-size: 36px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 15px;
    font-size: 24px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.update-btn {
    background-color: #e57373;
    color: white;
    padding: 10px;
    font-size: 26px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}
