body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: #ffffff;
    text-align: center;
}

.header {
    width: 100%;
    background-color: #000;
    padding: 20px 0;
    border-bottom: 4px;
}

.logo {
    height: 40px;
}

.container {
    margin-top: 120px;
}

.message {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 50px;
}

.btn {
    display: inline-block;
    background: #ddd;
    color: #000;
    padding: 15px 40px;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid #999;
}

.btn:hover {
    background: #ccc;
}

.resend-btn {
    margin-top: 30px;
    background: none;
    border: none;
    color: #4b73ff;
    cursor: pointer;
    font-size: 15px;
    text-decoration: underline;
}

.resend-btn:hover {
    color: #3050e0;
}
